@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --onboard-modal-z-index: 100;
  --onboard-modal-background: "#171717";
}

.button-clip {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 18.367%,
    97.753% 24.49%,
    97.753% 72.449%,
    100% 77.551%,
    100% 100%,
    9.27% 100%,
    0% 67.347%,
    0% 0%
  );
}

.clip {
  clip-path: polygon(
    7.749% 0%,
    0% 0%,
    0% 93.462%,
    0% 94.513%,
    0% 94.513%,
    0.003% 94.583%,
    0.01% 94.653%,
    0.023% 94.722%,
    0.041% 94.79%,
    0.064% 94.856%,
    0.092% 94.922%,
    0.125% 94.987%,
    0.163% 95.05%,
    0.205% 95.111%,
    0.252% 95.17%,
    0.252% 95.17%,
    0.332% 95.256%,
    0.421% 95.336%,
    0.517% 95.408%,
    0.622% 95.473%,
    0.732% 95.531%,
    0.849% 95.58%,
    0.972% 95.621%,
    1.098% 95.654%,
    1.229% 95.678%,
    1.363% 95.692%,
    1.542% 95.705%,
    2.435% 95.769%,
    13.961% 95.769%,
    14.564% 95.769%,
    14.564% 95.769%,
    14.821% 95.777%,
    15.075% 95.801%,
    15.325% 95.841%,
    15.569% 95.895%,
    15.807% 95.964%,
    16.037% 96.048%,
    16.258% 96.146%,
    16.47% 96.258%,
    16.671% 96.382%,
    16.86% 96.52%,
    16.883% 96.538%,
    19.481% 98.718%,
    20.46% 99.492%,
    20.46% 99.492%,
    20.525% 99.541%,
    20.591% 99.587%,
    20.66% 99.632%,
    20.731% 99.674%,
    20.804% 99.713%,
    20.88% 99.751%,
    20.957% 99.786%,
    21.035% 99.818%,
    21.116% 99.848%,
    21.198% 99.876%,
    21.198% 99.876%,
    21.276% 99.899%,
    21.356% 99.92%,
    21.436% 99.939%,
    21.517% 99.955%,
    21.599% 99.969%,
    21.681% 99.98%,
    21.764% 99.989%,
    21.847% 99.995%,
    21.93% 99.999%,
    22.014% 100%,
    22.565% 100%,
    82.792% 100%,
    83.371% 100%,
    83.371% 100%,
    83.543% 99.996%,
    83.714% 99.984%,
    83.883% 99.964%,
    84.051% 99.937%,
    84.216% 99.901%,
    84.377% 99.858%,
    84.536% 99.808%,
    84.691% 99.751%,
    84.841% 99.686%,
    84.987% 99.614%,
    84.987% 99.614%,
    85.035% 99.588%,
    85.082% 99.562%,
    85.128% 99.535%,
    85.173% 99.507%,
    85.218% 99.479%,
    85.262% 99.449%,
    85.306% 99.42%,
    85.348% 99.389%,
    85.39% 99.358%,
    85.431% 99.326%,
    86.201% 98.718%,
    98.701% 87.692%,
    99.082% 87.392%,
    99.082% 87.392%,
    99.25% 87.248%,
    99.403% 87.094%,
    99.539% 86.933%,
    99.659% 86.764%,
    99.761% 86.589%,
    99.846% 86.407%,
    99.913% 86.221%,
    99.961% 86.031%,
    99.99% 85.837%,
    100% 85.641%,
    100% 2.051%,
    100% 1.105%,
    100% 1.105%,
    99.993% 0.996%,
    99.971% 0.889%,
    99.937% 0.785%,
    99.889% 0.685%,
    99.828% 0.59%,
    99.756% 0.5%,
    99.672% 0.416%,
    99.577% 0.339%,
    99.472% 0.269%,
    99.357% 0.208%,
    99.357% 0.208%,
    99.323% 0.193%,
    99.289% 0.178%,
    99.254% 0.164%,
    99.219% 0.151%,
    99.183% 0.139%,
    99.146% 0.127%,
    99.11% 0.117%,
    99.073% 0.107%,
    99.035% 0.098%,
    98.997% 0.09%,
    98.833% 0.058%,
    98.833% 0.058%,
    98.774% 0.047%,
    98.715% 0.037%,
    98.656% 0.029%,
    98.596% 0.021%,
    98.537% 0.015%,
    98.477% 0.009%,
    98.417% 0.005%,
    98.357% 0.002%,
    98.296% 0.001%,
    98.236% 0%,
    93.666% 0%,
    93.666% 0%,
    93.602% 0.001%,
    93.537% 0.002%,
    93.473% 0.004%,
    93.41% 0.008%,
    93.346% 0.012%,
    93.282% 0.018%,
    93.219% 0.024%,
    93.155% 0.032%,
    93.092% 0.04%,
    93.029% 0.05%,
    92.854% 0.077%,
    92.854% 0.077%,
    92.79% 0.088%,
    92.727% 0.1%,
    92.664% 0.114%,
    92.601% 0.128%,
    92.54% 0.145%,
    92.478% 0.162%,
    92.417% 0.181%,
    92.357% 0.2%,
    92.298% 0.222%,
    92.239% 0.244%,
    92.239% 0.244%,
    92.169% 0.273%,
    92.1% 0.303%,
    92.033% 0.336%,
    91.966% 0.37%,
    91.902% 0.405%,
    91.839% 0.442%,
    91.777% 0.481%,
    91.717% 0.521%,
    91.659% 0.563%,
    91.602% 0.607%,
    91.071% 1.026%,
    90.863% 1.231%,
    90.863% 1.231%,
    90.648% 1.423%,
    90.412% 1.596%,
    90.157% 1.748%,
    89.886% 1.879%,
    89.601% 1.988%,
    89.303% 2.075%,
    88.995% 2.139%,
    88.68% 2.178%,
    88.359% 2.193%,
    88.034% 2.183%,
    87.987% 2.179%,
    12.796% 2.307%,
    12.796% 2.307%,
    12.737% 2.307%,
    12.678% 2.306%,
    12.619% 2.304%,
    12.56% 2.301%,
    12.501% 2.297%,
    12.442% 2.293%,
    12.384% 2.287%,
    12.325% 2.281%,
    12.267% 2.274%,
    12.209% 2.266%,
    11.866% 2.217%,
    11.866% 2.217%,
    11.648% 2.178%,
    11.436% 2.126%,
    11.231% 2.061%,
    11.034% 1.984%,
    10.845% 1.894%,
    10.666% 1.793%,
    10.498% 1.681%,
    10.341% 1.558%,
    10.196% 1.425%,
    10.065% 1.282%,
    9.578% 0.743%,
    9.578% 0.743%,
    9.512% 0.674%,
    9.442% 0.608%,
    9.368% 0.544%,
    9.29% 0.483%,
    9.209% 0.426%,
    9.124% 0.371%,
    9.036% 0.32%,
    8.945% 0.272%,
    8.851% 0.228%,
    8.754% 0.187%,
    8.754% 0.187%,
    8.659% 0.152%,
    8.563% 0.121%,
    8.465% 0.093%,
    8.366% 0.068%,
    8.265% 0.047%,
    8.163% 0.03%,
    8.061% 0.017%,
    7.957% 0.008%,
    7.853% 0.002%,
    7.749% 0%
  );
}

.svelte-7ee2g7 {
  background-color: "transparent" !important;
}

.modal-item-button {
  @apply flex w-full items-center gap-3 rounded-xl bg-black/20 px-2.5 py-2 hover:bg-black/40;
}

.modal-item-button-icon {
  @apply rounded-full border-2 border-black/60 bg-deep-green p-2;
}

.text {
  font-family: "Your Font Here", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.filled {
  color: white;
}

.outlined {
  color: transparent;
  -webkit-text-stroke: 1px white;
  position: relative;
}

.halfFilled::before {
  -webkit-text-stroke: 0;
  clip-path: polygon(0 0, 140% 0, 20% 100%, 0 100%);
}

.page_heading {
  @apply mb-10 text-center text-3xl font-bold md:text-5xl;
}

.terms_heading {
  @apply mb-2 mt-6 text-2xl font-bold sm:mb-4 md:mt-12 md:text-4xl;
}

.terms_subheading {
  @apply ml-0 mt-6 text-xl font-medium md:text-2xl;
}

.term_text {
  @apply ml-0 mt-2 text-base;
}

.terms_nestedheading {
  @apply mt-3 text-lg font-medium md:text-xl;
}
